@media screen and (min-width:998px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(104, 131, 114);
        padding-left: 1em;
        padding-right: 1em;
        position: fixed;
        width: 100%;
    }

    body {
        margin: 0;
    }

    .navbar h1 {
        color: aliceblue;
        font-family: fantasy;
        font-size: 1.1em;
    }

    .navbar a {
        color: aliceblue;
        text-decoration: none;
        font-family: fantasy;
        font-size: 1.35em;
        padding: 0.75em 0.5em;
    }

    img {
        width: 500px;
        height: 600px;
        border: 5px solid bisque;
        transition: all ease-in .15s;
        border-radius: 40px;
    }

    .img1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        background-color: rgb(85, 116, 97);
        padding-top: 6em;
    }

    .img1 h1 {
        border: 5px solid bisque;
        background-color: rgb(104, 131, 114);
        color: aliceblue;
        border-radius: 25px;
    }



    img:hover {
        box-shadow: 4px 4px 25px 4px black;
    }

    .img1 b {
        color: red;
    }

    .img1 a {
        text-decoration: none;
        color: black;
        border: 3px solid black;
        transition: all ease-in .15s;
    }

    .img1 a:hover {
        text-decoration: underline;
        color: darkblue;
    }












    .img2 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        background-color: rgb(104, 131, 114);
        padding-top: 2em;
    }

    .img2 h1 {
        border: 5px solid bisque;
        background-color: rgb(104, 131, 114);
        color: aliceblue;
        border-radius: 25px;
    }



    img:hover {
        box-shadow: 4px 4px 25px 4px black;
    }

    .img2 b {
        color: red;
    }

    .img2 a {
        text-decoration: none;
        color: black;
        border: 3px solid black;
        transition: all ease-in .15s;
    }

    .img2 a:hover {
        text-decoration: underline;
        color: darkblue;
    }







    .img3 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        background-color: rgb(85, 116, 97);
        padding-top: 2em;
    }

    .img3 h1 {
        border: 5px solid bisque;
        background-color: rgb(104, 131, 114);
        color: aliceblue;
        border-radius: 25px;
    }



    img:hover {
        box-shadow: 4px 4px 25px 4px black;
    }

    .img3 b {
        color: red;
    }

    .img3 a {
        text-decoration: none;
        color: black;
        border: 3px solid black;
        transition: all ease-in .15s;
    }

    .img3 a:hover {
        text-decoration: underline;
        color: darkblue;
    }






    .img4 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        background-color: rgb(104, 131, 114);
        padding-top: 2em;
    }

    .img4 h1 {
        border: 5px solid bisque;
        background-color: rgb(104, 131, 114);
        color: aliceblue;
        border-radius: 25px;
    }

    img:hover {
        box-shadow: 4px 4px 25px 4px black;
    }

    .img4 b {
        color: red;
    }

    .img4 a {
        text-decoration: none;
        color: black;
        border: 3px solid black;
        transition: all ease-in .15s;
    }

    .img4 a:hover {
        text-decoration: underline;
        color: darkblue;
    }










    .img5 {
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        background-color: rgb(85, 116, 97);
        padding-top: 2em;
    }

    .img5 h1 {
        border: 5px solid bisque;
        background-color: rgb(104, 131, 114);
        color: aliceblue;
        border-radius: 25px;
    }

    img:hover {
        box-shadow: 4px 4px 25px 4px black;
    }

    .img5 b {
        color: red;
    }

    .img5 a {
        text-decoration: none;
        color: black;
        border: 3px solid black;
        transition: all ease-in .15s;
    }

    .img5 a:hover {
        text-decoration: underline;
        color: darkblue;
    }
}

@media screen and (max-width:998px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(104, 131, 114);
        padding-left: .5em;
        padding-right: .5em;
        width: 100%;
        position: fixed;
    }

    body {
        margin: 0;
    }

    .navbar h1 {
        color: aliceblue;
        font-family: fantasy;
        font-size: 1em;
    }

    .navbar a {
        color: aliceblue;
        text-decoration: none;
        font-size: 1.2em;
        padding: 0.75em 0.5em;
    }

    img {
        width: 100%;
        border-radius: 20px;
    }

    .img1 {
        text-align: center;
        border: 6px solid bisque;
        background-color: bisque;
        border-radius: 20px;
        padding-top: 5em;
    }

    .img1 h1 {
        font-family: monospace;
    }

    .img1 b {
        color: red;
    }

    .img1 a {
        border: 3px solid black;
        text-decoration: none;
        color: black;
    }









    img {
        width: 100%;
        border-radius: 20px;
    }

    .img2 {
        text-align: center;
        border: 6px solid bisque;
        background-color: bisque;
        border-radius: 20px;
    }

    .img2 h1 {
        font-family: monospace;
    }

    .img2 b {
        color: red;
    }

    .img2 a {
        border: 3px solid black;
        color: black;
        text-decoration: none;
    }

    .saidgold {
        padding-top: 4em;
    }








    img {
        width: 100%;
        border-radius: 20px;
        height: 480px;
    }

    .img3 {
        text-align: center;
        border: 6px solid bisque;
        background-color: bisque;
        border-radius: 20px;
    }

    .img3 h1 {
        font-family: monospace;
    }

    .img3 b {
        color: red;
    }

    .img3 a {
        border: 3px solid black;
        color: black;
        text-decoration: none;
    }

    .saidgold1 {
        padding-top: 4em;
    }








    img {
        width: 100%;
        border-radius: 20px;
        height: 480px;
    }

    .img4 {
        text-align: center;
        border: 6px solid bisque;
        background-color: bisque;
        border-radius: 20px;
    }

    .img4 h1 {
        font-family: monospace;
    }

    .img4 b {
        color: red;
    }

    .img4 a {
        border: 3px solid black;
        color: black;
        text-decoration: none;
    }

    .saidgold2 {
        padding-top: 4em;
    }









    img {
        width: 100%;
        border-radius: 20px;
        height: 480px;
    }

    .img5 {
        text-align: center;
        border: 6px solid bisque;
        background-color: bisque;
        border-radius: 20px;
    }

    .img5 h1 {
        font-family: monospace;
    }

    .img5 b {
        color: red;
    }

    .img5 a {
        border: 3px solid black;
        color: black;
        text-decoration: none;
    }

    .saidgold3 {
        padding-top: 4em;
    }
}